
 
/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Ruda:400,900,700);

/* OVERALL ASPECT */

body {
    background-color: #f2f2f2;
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    
}

.clear{
clear:both;
}
	


.logo  {
	top:0;
	
}

/* nav */ 


.navbar {
font-size: 15px;
 background-color: rgba(255, 255, 255, 0.8)!important;
 height:80px;
 /*transparent!important; */  }
 
.close{
	left:5%;
	}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0px;
    margin: 2px 0px 0px;
    font-size: 14px;
    list-style: outside none none;
	/*color:#fff;*/
    background-color: #74C9BE !important;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #fff!important;
    text-decoration: none;
    background-color: #51b6a9!important;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #fff!important;
    white-space: nowrap;
}


.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #f2f2f2 !important;
    /*background-color: #46A694 !important;*/
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.navbar-toggle:focus {
    outline: medium none;
}

.navbar-toggle {
position: relative;
/*float: right;*/
margin-right: 15px;
padding: 9px 10px;
margin-top: 8px;
margin-bottom: 8px;
background-color: transparent;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}
.co {
	padding:5px;}
	

	
.labelco {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 100;
  	padding-top: 5px !important;
	padding-left: 15px !important;
}

/

.imgfollow{
    vertical-align: middle;
    margin: 0 auto!important;
    padding-bottom: 10px!important;}


/* *************************************** teste */
#form-login {
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.form-login-content {
    padding: 0 15px 15px 15px;
}
.form-login-content p {
    text-align: justify;
}

.tabs {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    position: relative;
    display: block;
    margin-bottom: 20px;
}
.tabs li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}
.tabs a {
    display: block;
    float: left;
    text-decoration: none;
    font-size: 16px;
    padding: 12px 22px 12px 22px;
}
 /******************** fin teste *

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Ruda', sans-serif;
    font-weight: 100;
	/*color: #fff;*/
   color: #36444d;
	
}

annimleft .log   {
	
	margin-left: 0!important;
	
}




/* Paragraph & Typographic */
p {
    line-height: 20px;
    margin-bottom: 25px;
	color:#36444d;
}

.centered {
    text-align: center;
}

.goleft {
	text-align: left;
}

/* Links */
a {
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0.5em 0;
    padding: 0;
}

.navbar {
	font-size: 14px;
	background: #ffffff;
}

.navbar-fixed-top {
border-width: 0 0 0px;
border-bottom-width: 0px;
}
/* ================== BASIC CONFIGURATION ================== */

.spacing i {
	padding-left: 8px;
	padding-right: 8px
}
/* margin top & Bottom */
.mt {
	margin-top: 15px;
	margin-bottom: 10px;
}

/* Special Margin for Wrap sections */
.mts {
	margin-top: -20px;
}


/* service icons */
.si {
	visibility: hidden;
}

.si:hover {
	background-color: #ffffff;
}

.si i {
	font-size: 40px;
	padding: 20px;
}

/* Padding top & bottom */
.pt {
	padding-top: 15px;
	padding-bottom: 15px; 
}

/* Description Styling / Used in portfolio & Blog images footnotes */
.desc p {
	font-family: 'Ruda', sans-serif;
	font-size: 16px;
	font-weight: 700;
	margin-top: 15px;
}

.desc p > i {
	font-size: 16px;
	color: #979797;
}

.desc p > i:hover {
	font-size: 16px;
	color: #e74c3c;
	cursor: pointer;
}

.desc p.lead {
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: -15px;
}

.desc p.time {
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-top: 0px;
	color: #979797;
	text-align: right;
}

.desc p.time > i {
	font-size: 12px;
}


/* Dashed Separator */

hr-d {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px dashed #ccc;
    margin: 1em 0;
    padding: 0;
}


p.capitalize {
	display:block;
	text-align: left;
}

p.capitalize:first-letter {
	text-transform:capitalize; 
	font-size: 30px;
	font-family: 'Ruda', sans-serif;
	font-weight: 400;
	color:white; 
	padding-left:10px; 
	padding-right:10px; 
	margin-right:5px;
}


/* Button Call To Action */
.btnnav {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  margin-top: 5px !important;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}


.btn-cta {
  color: #36444d;
  background-color: transparent;
  border-color: #36444d;.project{
	display: none;
}
.project.cat-visible{
	display: block;
}

  font-family: 'Ruda', sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

.btn-cta:hover,
.btn-cta:focus,
.btn-cta:active,
.btn-cta.active,
.open .dropdown-toggle.btn-cta {
  color: #2f2f2f;
  background-color: #ffffff;
  border-color: #2f2f2f;
}

/* Button Theme */
.btn-theme {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
  font-family: 'Ruda', sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
  color: #2f2f2f;
  background-color: #ffffff;
  border-color: #2f2f2f;
}

/* Button Yellow */
.btn-yellow {
  color: #2f2f2f;
  background-color: #ffd56c;
  border-color: #ffffff;
  font-family: 'Ruda', sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

.btn-yellow:hover,
.btn-yellow:focus,
.btn-yellow:active,
.btn-yellow.active,
.open .dropdown-toggle.btn-yellow {
  color: #2f2f2f;
  background-color: #fdc741;
  border-color: #ffffff;
}



/***** Testimonials Styling *****/
.testi-container {
	width:100%;
	margin-bottom:14px;
	padding: 5px 6px 3px 0px; 
	background-color:#fafafa;
	border: solid 1px #ddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position:relative;
	float:left;
	z-index:998;
}

.testi-container:before {
	width: 25px;
	height: 17px;
	background:#fafafa;
	content: '';
	position: absolute;
	z-index:999;
	left:42px;
	bottom: 0px;
	margin-left: -7px;	
}
@media \0screen {.testi-container:before {background:none;}}

.testi-container:after {
	width: 17px;
	height: 17px;
	background:#fafafa;
	border:1px solid #ddd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	content: '';
	position: absolute;
	z-index:888;
	left:45px;
	bottom: -5px;
	margin-left: -7px;
	transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
}
@media \0screen {.testi-container:after {background:none; border:none;}}

.testi-text {
	width:100%;
	float:left;
	margin:0px;
	padding:10px 14px 0px 14px;
	font-weight: 400;
}

/* ================== MAIN WRAP SECTIONS ================== */
#headervideo {
	
	top: 0px;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
	width: 100%;
   -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.headervideo h2 h3 {
color:#fff!important;

}


#headerwrap {
	background: url(../img/bg01.jpg) no-repeat center top;
	margin-top: 0px;
	padding-top: 150px;
	background-attachment: relative;
	background-position: center center;
	min-height: 700px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#headerwrap h1 {
	text-align: left!important;

	color:#36444d!important;
	
	font-weight:100;
	letter-spacing: 1px;
	visibility: hidden;
	
	

}

h1.ombrage {
	text-shadow: 1px 1px 0px rgba(54,68,77, 0.5)
	
	} 
	

#headerwrap h2 {
	color: #36444d;
	/*visibility: hidden;*/

}

#headerwrap .img-responsive {
	margin: 0 auto;
}





/* Footer Wrap */

#f {
	background-color: #25292C;
	
	padding-top: 40px;
	padding-bottom: 40px;
}

#f p {
	color: white;
}

#f h4 {
	color: white;
}

/* Color Wraps */
#white {
	margin-top: 0px;
	background-color: #ffffff;
	min-height: 300px;
	width: 100%;
}

#grey {
	margin-top: 0px;
	background-color: #f7f7f7;
	min-height: 300px;
	width: 100%;	
}

#black {
	margin-top: 0px;
	background-color: #2f2f2f;
	min-height: 300px;
	width: 100%;	
}

#black h3 {
	color: white;
}

#black h4 {
	color: white;
	text-transform: uppercase
}

#black p {
	color: white;
	font-size: 16px;
	font-weight: 400;
}

#black i {
	font-size: 35px;
}

#black h1 {
	color: white;
	font-size: 70px;
}

/* Map Wrap*/

#map {
	width: 100%;
	height: 400px;
}

#map-contact {
	width: 100%;
	height: 650px;
}

/* ========== lien utiles index ===========*/
.utiles {

background-color:#fff;
padding: 20px;

}

/* ================== CALL TO ACTION WRAP SECTIONS & HELPERS ================== */
#cta01 {
	background:#46A694 no-repeat center top;
	margin-top: 0px;
	padding-top:100px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 350px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#cta01 h1 {
	color: white;
	font-weight: 100;
	margin-bottom: 25px;
	font-size: 60px;
}

#cta01 h2 {
	color: white;
	font-weight: 100;
	margin-bottom: 25px;
}

#cta01 i {
	color: white;
	font-size: 45px;
}

#headerpage {
	background: url(../img/cta/bg03.jpg)no-repeat center top;
	margin-top: 0px;
	padding-top:100px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 350px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}





#cta02 {
	background: url(../img/cta/cta02.jpg) no-repeat center top;
	margin-top: 0px;
	padding-top:100px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 350px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#cta02 h2 {
	color: white;
	font-weight: 700;
	margin-bottom: 25px;
}


#cta03 {
	background: url(../img/cta/cta01.jpg) no-repeat center top;
	margin-top: 0px;
	padding-top:50px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 450px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#cta03 h2 {
	color: white;
	font-weight: 700;
	margin-bottom: 50px;
}

#cta03 i {
	color: white;
	font-size: 45px;
}

#cta03 p {
	color: white;
	font-size: 16px;
}

#ctaform {
	background: url(../img/cta/ctaform.jpg) no-repeat center top;
	margin-top: 0px;
	padding-top:100px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 350px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#ctaform h2 {
	color: white;
	font-weight: 700;
	margin-bottom: 25px;
}


#cta-bar {
	background: #25292C;
	color: white;
	padding-top: 40px;
	padding-bottom: 40px;
	
    -webkit-transition: color 0.3s ease-in, background 0.3s ease-in;
    -moz-transition: color 0.3s ease-in, background 0.3s ease-in;
    -ms-transition: color 0.3s ease-in, background 0.3s ease-in;
    -o-transition: color 0.3s ease-in, background 0.3s ease-in;
    transition: color 0.3s ease-in, background 0.3s ease-in;
}

#cta-bar:before,
#cta-bar:after {
    -webkit-transition: color 0.2s ease-in, background 0.2s ease-in;
    -moz-transition: color 0.2s ease-in, background 0.2s ease-in;
    -ms-transition: color 0.2s ease-in, background 0.2s ease-in;
    -o-transition: color 0.2s ease-in, background 0.2s ease-in;
    transition: color 0.2s ease-in, background 0.2s ease-in;
    
    cursor: pointer;
}

#cta-bar h4 {
	color: white;
	font-weight: 400;
}


#cta02Propos {
	background: url(../img/cta/cta02about.jpg) no-repeat center top;
	margin-top: 0px;
	padding-top:100px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 550px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

#cta02Propos h1 {
	color: white;
	font-weight: 100;
	margin-bottom: 25px;
	font-size: 60px;
}

#cta02Propos h2 {
	color: white;
	font-weight: 100;
	margin-bottom: 25px;
}

#cta02Propos i {
	color: white;
	font-size: 45px;
}
/* ====================== portfoliot sejour==================================*/



.icn_note img{
width:40px!important;
}
.filtre li {
	
	list-style: none;

	cursor: pointer;

}

/* ========= livre de route ========== */

.livre{
	background-color:#F9F9F9;
	margin-bottom: 15px;
	padding:20px;

	cursor: pointer;

}


/* Portfolio */

#filtre li{
	padding: 10px 15px;
	position: relative;
	display: block;
	color: #74c9be;
	cursor: pointer;
}
#filtre li.selected {
	background-color:#46A694;
	color: white;
}
#project-list{
	display: block;
}
.project {
	overflow: hidden;
}

.project {
	display: none;
}

.project.cat-visible{
	display: block;
}
article{
	width: 100%;

	margin: 0 auto;
}
article img{
	display: block;
	height: auto;
	width: 100%;
}
/*
lieux
*/#map-canvas {
  	width: 100%; 
  	height: 300px;
	margin: 0;
	padding: 15px;
}

.scroll-top {
   position:fixed;
   bottom:0;
   right:6%;
   z-index:100;
   background: #ffcc33;
   font-size:24px;
   border-top-left-radius:3px;
   border-top-right-radius:3px;
}
.scroll-top a:link,.scroll-top a:visited {
  color:#222;
} 
 

section {
  color: #ffffff;
  min-height: 400px;
  height: auto !important;
  height: 100%;
  padding-top:100px;
}

.bg-1 {
	background: url(../img/cta/ctaform.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.bg-2 {
	background: url(../img/cta/ctaform.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.bg-3 {
	background:url(../img/cta/ctaform.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.bg-4 {
	padding-top:30px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(20,20,20,0.2)),to(rgba(255,255,255,0)), color-stop(1,#000));
}

/* ================== TEAM MEMBERS INFORMATION OVER iMAGE ================== */
.members {
  width: 302px;
  position: relative;
  float: left;
  margin: 0 20px 0 0;
  > img {
    display: block;
    position: relative;
  }


.team-info {
  position: absolute;
  bottom: 20px;
  right: 0px;
  width: 170px;
  padding: 10px 10px 30px 10px;
}
.subhead {
  color: #f2f2f2;
  text-transform: uppercase;
  font-weight: 400;
}
.team-name {
  color: white;
  font-weight: 400;
  margin: 0;
  letter-spacing: -1px;
}

.team-description {
	color: white;
	padding-top: 20px;
}

.team-description i {
	margin: 8px;
}

/* Team Member Stats Icons Conf */
.team-stat i {
	font-size: 28px;
}

/* ================== TWITTER FEED CONFIGURATION ================== */
#f ul {
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

#f ul li {
  list-style:none;
  overflow:hidden;
}

#f ul li:before {
	content: "\f099";
	font-family: 'FontAwesome';
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	font-size: 16px;
	height: auto;
	margin-top: 2px;
	margin-right: 8px;
	color: white;
	float: left;
}

#f .tweet {
	float: right;
	width: 85%;
}





@media (max-width: 600px) { 

#headerwrap h1 {
	font-size: 35px;
}

#cta03 {
	background: #2d2d2d;
	}	
	
#wv {
	height: 350px;
}
	
}

@media (max-width: 900px) { 


#cta03 {
	background: #2d2d2d;
	}	
}


